@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #dad6db;
}
.showcase {
    position: absolute;
    font-size: 20px;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    z-index: 1000;
}
.showcase .container {
    text-transform: uppercase;
    z-index: 1000;

}
.showcase .myVideo1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 20%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;

}
.showcase .myVideo2 {
    position: absolute;
    top: 100px;
    left: 20%;
    width: 20%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
}
.showcase .text {
    z-index: 3;
    font-size: 15px
}
.showcase .myVideo3 {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 20%;
    height: 80%;
    object-fit: cover;
    opacity: 0.8;
}
.showcase .text2 {
    z-index: 2;
    font-size: 15px;
}
.showcase .myVideo4 {
    position: absolute;
    top: 100px;
    left: 60%;
    width: 20%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
}
.showcase .text3 {
    z-index: 3;
    font-size: 15px;
}
.showcase .myVideo5 {
    position: absolute;
    top: 100px;
    left: 80%;
    width: 20%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
}
.text4 h3 {
    position: absolute;
    z-index: 10;
    top: 250px;
    width: 100%;
    text-align: center;
    left: 0;
    line-height: 5.5em;
}
